<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <div id="app">

<div class="products">  
<div class="product" v-for="el of products" :key="el.title">
    <img :src="el.img" alt="el.title">
    <div class="desc">
        <p >{{el.title}}</p>
        <p >{{el.price*el.quantity}}</p>
        <p >{{el.quantity}}</p>
        <button @click="el.quantity++">Buy</button>
    </div>
</div>

<button @click="addProduct">Add product</button>

</div>
        <p v-if="show">i'm visible</p>
        <p v-else>Now i'm visible</p>
        <p>static</p>
        <p v-show="show">Style</p>
        <button @click="show = !show">switch</button>
        <!--<div class="block" @click="isRed = !isRed" :class="{red: isRed, blue: !isRed}"></div>
        <div class="block" @click="isRed = !isRed" :class="myClasses"></div>
        <div class="block" :style="{'background-color': color}"></div>-->
        <div class="block" :style="myStyle"></div>
        <input type="text" name="" id="" v-model="color">
        <input type="text" name="" id="" v-model="width">
        <h2 v-once>{{title}}</h2>
        <p>{{sayHello()}}</p>
        <a :href="link">Google</a>
        <div v-html="completeEl"></div>

        <div class="counter">
            <button @click="increase(2, $event)">increase</button>
            <p>{{counter}}</p>
        </div>
        <p>{{counter > 5 ? 'больше чем пять' : 'Меньше чем пять'}}</p>
        <p @mousemove="getCoordinates">Some long-long string {{x}} / {{y}}<span @mousemove.stop="">NO COORDINATES</span></p>
        <input type="text" name="" id="" v-model="name">
        <p>{{name}}</p>

        <button @click="counter++">Increase</button>
        <button @click="counter--">Decrease</button>
        <button @click="secondcounter--">Decrease Second</button>
        <p>Counters: {{counter}} | {{secondcounter}}</p>
        <p>Result: {{result()}} | {{output}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>